.text-tertiary
  color $tertiary
.bg-tertiary
  background-color $tertiary

.text-quaternary
  color $quaternary
.bg-quaternary
  background-color $quaternary

.text-brand
  color $brand
.bg-brand
  background-color $brand

.text-faded
  color $faded-color
.bg-faded
  background-color $faded-color

.text-border
  color $border-color
.bg-border
  background-color $border-color
