.kps-form
  width 600px
  max-width 95vw
  margin 0 auto

.kps-submodal
  width 400px
  max-height 300px

// hide error icon
.q-field.kps-no-error-icon
  .q-field__append
    display none

.q-field.kps-min-field-width
  min-width 100px

.q-field .kps-input-locale
  text-transform uppercase
  font-size $font-size-sm
  color $accent
