@import "~quasar/src/css/variables.styl"

.kps-table .q-table
  th
    font-size 14px
  tbody td
    font-size 14px
  &--kps-auto-width
    width 1px
  &__bottom
    font-size 14px
  &__grid-item-title
    font-size 14px
  &__grid-item-value
    font-size 14px
