$typography-font-family = 'Open Sans', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif
$text-weights = {
  // thin: 100,
  light: 300,
  regular: 400,
  medium: 600,
  bold: 700,
  bolder: 800
}

$tooltip-fontsize = 12px

$font-size-sm = 12px
$font-size-md = 14px
$font-size-lg = 16px
$font-size-xl = 18px
$font-size-icon = 24px

.font-size-sm
  font-size $font-size-sm
.font-size-md
  font-size $font-size-md
.font-size-lg
  font-size $font-size-lg
.font-size-xl
  font-size $font-size-xl
.font-size-icon
  font-size $font-size-icon

h1
  font-size 2.5rem
  line-height 2.5rem
  font-weight 400
  margin-top 0
  margin-bottom 1.25rem

h2
  font-size 2.25rem
  line-height 2.25rem
  font-weight 400
  margin-top 0
  margin-bottom 1.25rem

h3
  font-size 2rem
  line-height 2rem
  font-weight 400
  margin-top 0
  margin-bottom 1rem

h4
  font-size 1.75rem
  line-height 1.75rem
  font-weight 400
  margin-top 0
  margin-bottom 1rem

h5
  font-size 1.5rem
  line-height 1.5rem
  font-weight 400
  margin-top 0
  margin-bottom 1rem

h6
  font-size 1.25rem
  line-height 1.25rem
  font-weight 600
  margin-top 0
  margin-bottom 1rem
