// grid
$breakpoint-xs = 600px
$breakpoint-sm = 768px
$breakpoint-md = 1024px
$breakpoint-lg = 1366px

@import "~quasar/src/css/variables.styl"

// main colors
$primary     = #515052
$secondary   = #474747
$tertiary    = #E0DFD5
$quaternary  = #FFFFFA
$accent      = #F5821F

// alert colors
$positive  = #6ED18C
$negative  = #FF5959
$info      = #7CAAB7
$warning   = #FFC447

// other colors
$brand          = #F5821F
$faded-color    = $blue-grey-5
$border-color   = $separator-color
